<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pzj.trade.order.read.DeliveryReadMapper">

	<!-- 根据订单ID列表查询ID查询配送信息. -->
	<select id="getDeliveryByOrderIds" resultType="com.pzj.trade.order.entity.DeliveryDetailEntity">
		select
			order_id as orderID,
			delivery_way as deliveryWay,
			express_company as expressCompany,
			express_no as expressNO
		from
			t_delivery_detail
		where
			<if test="order_ids != null and order_ids.size() > 0 ">
				 order_id in 
				<foreach collection="order_ids" item="order_id" separator="," open="(" close=")">
					#{order_id}
				</foreach>
			</if>
	</select>
	
	<!-- 根据订单ID查询配送信息. -->
	<select id="getDeliveryByOrderId" resultType="com.pzj.trade.order.entity.DeliveryDetailEntity">
		select
			order_id as orderID,
			delivery_way as deliveryWay,
			express_company as expressCompany,
			express_no as expressNO
		from
			t_delivery_detail
		where
			order_id = #{order_id}
	</select>

</mapper>