<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pzj.core.trade.refund.write.RefundOperLogWriteMapper">

	<insert id="addRefundOperLog" parameterType="com.pzj.core.trade.refund.entity.RefundOperLog">
		insert into
		t_refund_oper_log
		(
		refund_id,
		operator_id,
		prev,
		later,
		action,
		create_time
		) values(
		#{refundId},
		#{operatorId},
		#{prev},
		#{later},
		#{action},
		sysdate()
		)
	</insert>
</mapper>